urllib3==1.26.0
robotframework==6.0
robotframework-seleniumlibrary==6.0.0
robotframework-debuglibrary==2.3.0
robotframework-requests==0.5.0
robotframework-faker==4.2.0
robotframework-pabot==2.5.4
robotframework-xvfb==1.2.2
robotframework-lint==1.1
jsonpath-ng==1.4.3
RESTinstance==1.0.2
selenium==4.8.0
BeautifulSoup4==4.4.1
xvfbwrapper==0.2.9
robotbackgroundlogger==1.2
httplib2
pytesseract
pyperclip==1.7.0
Faker==2.0.1
requests==2.25.1
google-auth==2.3.3
requests-toolbelt==0.9.1
Dialogs==1.0
datadog-api-client